<div class="table">
  <input class="look" (keyup)="onKeyLook($event)" value={{looking}}/>
  <input class="look" (keyup)="onKeySee($event)" value={{seeing}}/>
  <div class="verts" #verts (scroll)="updateScroll()">
    <div class="indexes" #indexes><indexnum/><ng-container #viewContainerRef2/></div>
    <div class="sets"><ng-container #viewContainerRef/></div>
  </div>
</div>
<button (click)="addChild()">Create</button>
<button (click)="Results()">Results</button>
<button (click)="replicate()">+</button>
<router-outlet></router-outlet>
